.app{
    padding: 20px;

}


.scene {
    display: flex;
    height: 500px;
}

.videoWrapper {
    padding: 10px;
    background-color: grey;
}

.list {
    width: 400px;
    height: 100%;
    background-color: #404044;
}
.list ul {
    padding: 0px;
    margin: 0px;
    margin-bottom: 0;
}
.list ul li {

    cursor: pointer;

    border-bottom: grey thin solid;
    padding: 20px;
    list-style: none;
    color: white;
    margin-bottom: 0;


}

.status {
    color: #9e9402;
    font-weight: bold;
}

.currentUser {
    font-weight: bold;
}
.synced{
    color: green;
}
.unsynced {
    color: red;
}

#connectedClients {
    border: black thin solid;
    padding: 4px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

#connectedClients ul {
    margin-bottom: 0px;
}

#clientName {
    font-weight: bold;
}
#addLink {
    width: 400px;
    font-size: 10px;
    height: 40px;
}

.btn-play {
    border-radius: 40px;
    width: 40px;
    height: 40px;
}
#controls {
    padding:10px;
}
