.app{
    padding: 20px;

}


.scene {
    display: flex;
    height: 360px;
}

.videoWrapper {
    padding: 10px;
    background-color: grey;
}

.listWrapper {
    width: 400px;

}

.list {
    width: 100%;
    height: 322px;
    background-color: #545b62;
    display: none;
}
.serverPlaylist {
    display:block;
}
.list ul {
    padding: 0px;
    margin: 0px;
    margin-bottom: 0;
    height: 100%;
    overflow: auto;
}
.list ul li {
    cursor: pointer;
    display: inline-flex;
    border-bottom: grey thin solid;
    padding: 10px;
    list-style: none;
    color: white;
    width: 100%;
    margin-bottom: 0;
}
.list ul li:hover {
    background-color: #3e3e3e
}

.status {
    color: #9e9402;
    font-weight: bold;
}

.currentUser {
    font-weight: bold;
}
.synced{
    color: green;
}
.unsynced {
    color: red;
}

#connectedClients {
    border: black thin solid;
    padding: 4px;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

#connectedClients ul {
    margin-bottom: 0px;
}

#clientName {
    font-weight: bold;
}
#addLink {
    width: 400px;
    font-size: 10px;
    height: 40px;
}

.btn-play {
    border-radius: 40px;
    width: 40px;
    height: 40px;
}
#controls {
    padding:10px;
}




.thumbnail {
    width: 50px;
    border: #636363 thin solid;
    margin-right: 10px;
}


.duration {
    font-size: 10px;
    color: #a0a0a0;
}

.videoCommands {
    display: inline-block;
    float: right;
}
.videoCommands i {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.thumbTextWrapper {
    width: 100%;
    line-height: 20px;
}



.clientDataWrapper, .playVideoData {
    float: left;
    width: 500px;
}
.playVideoData {
    border: red thin solid;
    padding: 4px;
    font-weight: bold;
    height: 100%;
    width: 300px;
}
.clearFix {
    clear: both;
}

.hero {
    background-color: #dfdfdf;
    font-size: 29px;
    padding: 40px;
    border-radius: 6px;
    display: inline-block;}


.favSwitcher {
    color: white;
    display: inline-block;
    font-weight: bold;
    padding-left: 12px;
    padding-top: 10px;
}
.favSwitcher .btn-primary {
    border-radius :20px;
    font-size: 13px;
    font-weight: bold;
    line-height: 5px;
}
.favSwitcher .btn-default{
    border-radius: 20px;
    background-color: #b7b7b7;
    font-size: 13px;
    font-weight: bold;
    line-height: 5px;
}

.favSwitcher .toggle.btn {
    min-height:20px;
    height:20px;
}

.favSwitcher .toggle-handle {
    background-color: white;
}